body {
	/*background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);*/
	background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-size: 100%;
}

@font-face {
    font-family:"Wizard World";
    src: url("fonts/WizardWorldSimplified-Kxr7.ttf")
}

@font-face {
    font-family:"CormorantGaramond-SemiBold";
    src: url("fonts/CormorantGaramond-SemiBold.ttf")
}

@font-face {
    font-family:"CormorantGaramond-SemiBoldItalic";
    src: url("fonts/CormorantGaramond-SemiBoldItalic.ttf")
}

@font-face {
	font-family: "CormorantGaramond-Bold";
	src: url("fonts/CormorantGaramond-Bold.ttf");
}

@font-face {
	font-family: "OptimusPrincepsSemiBold";
	src: url("fonts/OptimusPrincepsSemiBold.ttf");
}

h1 {
	background: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	text-shadow: 2px 2px 8px #b1b1b12b;
  	font-size: 200%;
	text-align: center;
	font-family:'Wizard World', sans-serif;
}

p {
	color: #404040;
	font-family: 'CormorantGaramond-SemiBold', serif;
}

.animate-opacity {
	animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}
}

#startQ {
	padding: 200px;
	background-color: #ffffff00;
	background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='60' height='30' patternTransform='scale(5) rotate(20)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(43,100%,82.7%,1)'/><path d='M1-6.5v13h28v-13H1zm15 15v13h28v-13H16zm-15 15v13h28v-13H1z'  stroke-width='1' stroke='none' fill='hsla(37,42.4%,53.7%,1)'/><path d='M31-6.5v13h28v-13H31zm-45 15v13h28v-13h-28zm60 0v13h28v-13H46zm-15 15v13h28v-13H31z'  stroke-width='1' stroke='none' fill='hsla(1,60.9%,27.1%,1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
}

#startQ button {
	border-width: 5px;
	font-size: 250%;
	color: #373737;
    background: #ffffff9e;
}

#prog-Bar {
	background-color: #e8e8e8; 
}

#prog {
	height: 5px;
	background-color: #eacda3;
	transition: width 1s;
	transition-timing-function: ease-out;
}

.prog-bar.hidden {
	display: none;
}

.question p {
	font-size: 150%;
}

#questions{
	text-align: center;
	padding: 20px;
	border: 1px solid #eacda3;
}

.question {
	display: block;
}

.question.hidden {
	display: none;
}

.question input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.question label {
    display: inline-block;
    padding: 20px 300px;
    margin: 10px;
    color: #404040;
	font-family: 'CormorantGaramond-SemiBoldItalic', serif;
	font-size: 120%;
	background: #C9C9C9;
	background: -webkit-radial-gradient(center, #C9C9C9, #FFFFFF00);
	background: -moz-radial-gradient(center, #C9C9C9, #FFFFFF00);
	background: radial-gradient(ellipse at center, #C9C9C9, #FFFFFF00);
}

.question label:hover {
  background-color: #e2c194;
}

.question input[type="radio"]:focus + label {
    border: 2px dashed #aa7b3c;
}

.question input[type="radio"]:checked + label {
    background-color: #e2c194;
    border-color: #aa7b3c;
}

.results.hidden {
	display: none;
}

#results p {
	color: #fff;
}

p#result-display {
	font-family: OptimusPrincepsSemiBold,serif;
	font-size: 180%;
}

#descrip-display span {
	font-family: CormorantGaramond-SemiBoldItalic,serif;
	font-size: 140%;
}

button.next {
	margin: 20px 0 0 10px;
    padding: 5px 15px;
    font-family: CormorantGaramond-Bold,serif;
    font-size: 150%;
   	border: 1px solid #eccea1;
   	color: #eccea1;
   	background: transparent;
}

button.next:hover {
	color: #d7b27c;
	border-color: #d7b27c;
}

.trail {
    position: absolute;
    height: 1px; width: 1px;
    border-radius: 50px;
    background: #7989cfb8;
    border: #d4d7e612 1px solid;
  }

#results.checkerboard {
	background-size: 60px 60px;
	background-repeat: repeat;
	padding: 20px 60px;
}

.checkerboard.grf {
	background-color: #A02833;
	background-image: linear-gradient(
	  45deg,
	  #642C2F 25%,
	  transparent 25%,
	  transparent 75%,
	  #642C2F 75%,
	  #642C2F
	),
	linear-gradient(
	  -45deg,
	  #642C2F 25%,
	  transparent 25%,
	  transparent 75%,
	  #642C2F 75%,
	  #642C2F
	);
} 

.checkerboard.rav {
	background-color: #0C4E7E;
	background-image: linear-gradient(
	  45deg,
	  #062C48 25%,
	  transparent 25%,
	  transparent 75%,
	  #062C48 75%,
	  #062C48
	),
	linear-gradient(
	  -45deg,
	  #062C48 25%,
	  transparent 25%,
	  transparent 75%,
	  #062C48 75%,
	  #062C48
	);
}

.checkerboard.sly {
	background-color: #166845;
	background-image: linear-gradient(
	  45deg,
	  #184837 25%,
	  transparent 25%,
	  transparent 75%,
	  #184837 75%,
	  #184837
	),
	linear-gradient(
	  -45deg,
	  #184837 25%,
	  transparent 25%,
	  transparent 75%,
	  #184837 75%,
	  #184837
	);
}

.checkerboard.huf {
	background-color: #F8D253;
	background-image: linear-gradient(
	  45deg,
	  #F8a940 25%,
	  transparent 25%,
	  transparent 75%,
	  #F8a940 75%,
	  #F8a940
	),
	linear-gradient(
	  -45deg,
	  #F8a940 25%,
	  transparent 25%,
	  transparent 75%,
	  #F8a940 75%,
	  #F8a940
	);
}

#quizPanel {
	padding: 0 30px 30px 30px;
}

#infoSect {
	background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
	margin: 0 30px 0 30px;
	padding: 50px;
	vertical-align: middle;
}

#infoSect p {
	color: #fff;
}

#infoSect h2 {
	font-family: OptimusPrincepsSemiBold,serif;
	color: #eacda3;
}

#infoSect img {
	float: left;
	margin-right: 10px;
	width: 40%;
}

#footer {
	padding: 30px;
	text-align: center;
}

#footer a {
	color: #404040;
}

/* Mobile Devices */

@media screen and (max-width: 480px) {

#startQ {
	padding: 0;
}

#startQ button {
	font-size: 150%;
	border: none;
}

#startQ .next {
	margin: 0;
	padding: 60px 40px;
}

.question label {
	padding: 20px 100px;
}

#results.checkerboard {
	padding: 20px;
}

#quizPanel {
    padding: 0 10px 30px 10px;
}

#infoSect {
	padding: 30px;
	margin: 30px 10px;
}

#infoSect img {
	width: 80%;
	margin-bottom: 20px;
}

}